#horaPeru{
	font-size: 5em;
}

.caja {
    border: 1px solid black;
    width: 33px;
    height: 33px;
    margin: auto;
    background-color: #DDDDDD;
}

.ventanas{
    position: fixed;
    background-color: rgba(51, 51, 51, 0.09);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.lugares{
	position: relative;
	background-color: white;
    padding: 1%;
    width: 87%;
    margin: auto;
}

.cerrar{
	position: absolute;
    right: 21px;
    font-weight: bold;
    color: gray;
}

.cerrar:hover{
	color: red;
	/*cursor: default;*/
	cursor: pointer;
}